# This file runs the sync action. You don't need to edit this.
name: Sync Files
on:
  push:
    branches:
      - main # Or whatever your default branch is
    paths:
      - '.github/sync.yml' # Triggers on changes to the "rulebook"
      - 'README.md'        # Triggers on changes to the README
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    name: Run Repo File Sync
    steps:
      - name: Checkout Source Repository
        uses: actions/checkout@v4
      - name: Run Repo File Sync
        uses: BetaHuhn/repo-file-sync-action@v1.17.0
        with:
          GH_PAT: ${{ secrets.SYNC_PAT }}
          CONFIG_PATH: .github/sync.yml
